*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: #fff;
    overflow-x: hidden;
}
header{
    width: 100%;
    height:100px;
    top: 0;
    left: 0;
    display:flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: teal;
    z-index: 1000;
}
.header{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}
h1{
    font-family: 'Merryweather';
    font-size: 50 px;
}
h2,h4,h5{
    font-weight: 100;  
}
hr{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.container{
    display: grid;
    grid-template-areas:
        'left-content right-content';
    width:60%;
    margin:auto;
    grid-gap: 50px;
    text-align: left;
}
.features-article,.another-article{
    margin-top: 2%;
    margin-bottom: 2%;
}

.another-article h3, p{
    margin-bottom: 10px;
}
img{
    height: 400px;
    width: 700px;
}
.btn{
    font-family: 'Open sans';
}

.read-more-btn:hover{
    background-color: #a9a9a9;
}

.right-content img{
    height: 20px;
    width: 200px;
    border-radius: 50%;
    filter: grayscale(1);
    display: block;
    margin-left: auto;
    margin-bottom: 2%;
}

.author-caption{
    font-style: italic;
    text-align: center;
    font-size: 18px;
    font-family: 'Allura';
}

.newsletter{
    margin-top: 10%;
    border: 1px solid black;
    padding: 25px 10px 25px 10px;
    text-align: center;
    grid-area: newsletter;
}

h5{
    margin-bottom: 10%;
}

::placeholder{
    text-align: center;
}
.sub-btn{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 70px 15px 70px;
    margin-top: 5%;
}

.sub-btn:hover{
    background-color: #a9a9a9;
}
.search{
    margin-top: 10%;
    text-align: center;
    grid-area: search;
}
.search h5{
    background-color: black;
    color: white;
    padding: 10px;
}
input[type = "text"]{
    padding: 5px;
    width: 80%;
    outline: none;
}
.search-btn{
    float: right;
    padding: 5px 8px;
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
}
.search-btn:hover{
    background-color: #a9a9a9;
}

.topics{
    margin-top: 10%;
    text-align: center;
    grid-area: topics;
}
.topics h5{
    background-color: black;
    color: white;
    padding: 10px;
}
.topics li{
    text-transform: none;
    display: block;
    padding: 5px;
    opacity: 0.8;
}

.popular-posts{
    margin-top: 10%;
    text-align: center;
    grid-area: topics;
}
.popular-posts h5{
    background-color: black;
    color: white;
    padding: 10px;
}
.popular-posts img{
    height: 240px;
    width: 220px;
    border-radius: 0!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}
.caption{
    font-family: 'Allura';
    font-style: italic;
}
footer{
    margin-top: 3%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}
.featured-article{
    grid-area: featured-article;
}
.another-article{
    grid-area: another-article;
}
.avatar-content{
    grid-area: avatar-content;
}
@media screen and (max-width: 1299px) {
    hr{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }
    .right-content{
        display: grid;
        grid-template-areas: 
            'avatar-content newsletter'
            'search topics';
        grid-gap: 40px;
    }
    .newsletter{
        margin-top: 0;
    }
    .popular-posts{
        display: none;
    }
    .topics{
       margin-top: 30px; 
    }
}

@media screen and (max-width: 700px) {
    .container{
        grid-template-areas: 
        'left-content'
        'right-content';
        grid-gap: 40px;
        width: 80%;
        margin:auto;
    }
    hr{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }
    .left-content img{
        height: 300px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-bottom: auto;
    }
    .right-content{
        display: grid;
        grid-template-areas: 
            'avatar-content' 
            'newsletter'
            'search'
            'topics' ;
        width: 50%;
        margin: auto;
    }
    .newsletter, .topics, .search{
        margin-top: 3%;
    }
}